user = {{mta_database_user}}
password = {{mta_database_password}}
hosts = {{postgreql_host|default(gateway)}}
dbname = {{mta_database_name}}
query = SELECT destination FROM virtual_aliases WHERE source='%s'
